@import "src/styles/main";


.wpmt-main {
  background: #2B2F38;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wpmt-navbar-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 6vh;
  width: 100%;
  background: var(--color-default-primary);
}

.wpmt-navbar-items {
  display: flex;
  list-style-type: none;
  gap: $flex-gap-xx-large;
  padding: 0;
  margin: 0;
    a {
      padding: $padding-medium;
      border-radius: $border-radius-small;
      color: var(--color-default-text);
      text-decoration: none;
    }
    :hover {
      background-color: var(--color-default-primary-hover);
      color: var(--color-default-primary);
      cursor: pointer;
    }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


