/* Error: Undefined mixin.
 *    ,
 * 1  | / @include add-theme-default-styles {
 * 2  | |   //Primary colors
 * 3  | |   --color-default-primary: #37415C;
 * 4  | |   --color-default-primary-hover: #FFFFFF;
 * 5  | | 
 * 6  | |   //Secondary colors
 * 7  | |   --color-default-secondary: #293450;
 * 8  | | 
 * 9  | |   //Background colors
 * 10 | |   --color-default-background: #2B2F38;
 * 11 | | 
 * 12 | |   //Notification colors
 * 13 | |   --color-default-notification-info: #4C74B9;
 * 14 | |   --color-default-notification-urgent: #DE5347;
 * 15 | |   --color-default-notification-warning: #E19B3C;
 * 16 | | 
 * 17 | |   //Notification icon colors
 * 18 | |   --color-default-notification-icon-success: #98CB51;
 * 19 | |   --color-default-notification-icon-warning: #E19B3C;
 * 20 | |   --color-default-notification-icon-error: #DE5347;
 * 21 | \ }
 *    '
 *   default.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 1  \2502  \250c  @include add-theme-default-styles {\a 2  \2502  \2502    //Primary colors\a 3  \2502  \2502    --color-default-primary: #37415C;\a 4  \2502  \2502    --color-default-primary-hover: #FFFFFF;\a 5  \2502  \2502  \a 6  \2502  \2502    //Secondary colors\a 7  \2502  \2502    --color-default-secondary: #293450;\a 8  \2502  \2502  \a 9  \2502  \2502    //Background colors\a 10 \2502  \2502    --color-default-background: #2B2F38;\a 11 \2502  \2502  \a 12 \2502  \2502    //Notification colors\a 13 \2502  \2502    --color-default-notification-info: #4C74B9;\a 14 \2502  \2502    --color-default-notification-urgent: #DE5347;\a 15 \2502  \2502    --color-default-notification-warning: #E19B3C;\a 16 \2502  \2502  \a 17 \2502  \2502    //Notification icon colors\a 18 \2502  \2502    --color-default-notification-icon-success: #98CB51;\a 19 \2502  \2502    --color-default-notification-icon-warning: #E19B3C;\a 20 \2502  \2502    --color-default-notification-icon-error: #DE5347;\a 21 \2502  \2514  }\a    \2575 \a   default.scss 1:1  root stylesheet";
}
