:root,
.wpmt-theme-default {
  //Primary colors
  --color-default-primary: #37415C;
  --color-default-primary-hover: #FFFFFF;

  //Secondary colors
  --color-default-secondary: #293450;

  //Background colors
  --color-default-background: #2B2F38;

  //Notification colors
  --color-default-notification-info: #4C74B9;
  --color-default-notification-urgent: #DE5347;
  --color-default-notification-warning: #E19B3C;

  //Notification icon colors
  --color-default-notification-icon-success: #98CB51;
  --color-default-notification-icon-warning: #E19B3C;
  --color-default-notification-icon-error: #DE5347;

  //Button colors
  --color-default-button: #4C74B9;

  //Button hover
  --color-default-button-hover: #293450;

  //Border colors
  --color-default-border: #FFFFFF;

  //Typography
  --color-default-text: #FFFFFF;
}

