$flex-gap-small: 5px;
$flex-gap-medium: 10px;
$flex-gap-large: 15px;
$flex-gap-x-large: 20px;
$flex-gap-xx-large: 25px;
$flex-gap-xxx-large: 30px;

$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 15px;
$padding-x-large: 20px;
$padding-xx-large: 25px;
$padding-xxx-large: 30px;

$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 15px;
