$flex-gap-small: 5px;
$flex-gap-medium: 10px;
$flex-gap-large: 15px;
$flex-gap-x-large: 20px;
$flex-gap-xx-large: 25px;
$flex-gap-xxx-large: 30px;

$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 15px;
$padding-x-large: 20px;
$padding-xx-large: 25px;
$padding-xxx-large: 30px;

$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 15px;
$margin-x-large: 20px;
$margin-xx-large: 25px;
$margin-xxx-large: 30px;
$margin-xxxx-large: 40px;

$font-size-small: 5px;
$font-size-medium: 10px;
$font-size-large: 15px;
$font-size-x-large: 20px;
$font-size-xx-large: 25px;
$font-size-xxx-large: 32px;

$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 15px;

$border-small: 2px;
$border-medium: 4px;
$border-large: 8px;
